
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>You have got some Orders</p>
						<h1>All Orders</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
    
    <section style="padding:10%">
        
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Orders</th>
                <th scope="col">Customer</th>
                <th scope="col">Phone no.</th>
                <th scope="col">Status</th>
                <th scope="col">Placed at</th>
              </tr>
            </thead>
            <tbody id="orderTableBody">
                
            </tbody>
          </table>
    </section>
